.button_wrapper{
    margin:0.4rem 0;
}


button:focus{
    outline: none;
}

.button_style{
    font-weight:bold;
    padding: 0.4rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 0.3rem 0.2rem;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #008CBA;
    width:10rem;
}

button:hover {
    background-color: #008CBA;
    color: white;
}